
 <% if user_signed_in? %>
   <em><strong>Note from developer:</strong> Markdown editor is here!</em>
  <br><br>
  <%= form_for contribution, {url: url, class:"contribution-form"} do |f| %> 
    <%= f.text_area :content, required: true, autofocus: true, rows:"25", cols: "150", class:"content-text-area" %>
    <br>
    <%= f.submit class: "pure-button button-success" %>
  <% end %>

<% else %>
    <h4 style="color:red">Please Sign In to contribute.</h4>
<% end %>

<hr>