<h1>Developer's Log</h1>

<div id="2019-06-15">
   <h4>Version 1.1 Deployed!</h4>
   <ul>
      <li>Had to reassociate Lesson to Category and Section due to JS project requirement. This was a big headache, but it taught me how to use PgAdmin4 (just a bit).</li>
      <li>
         New Lesson form is updated! Category and Section selection box can be filtered by User's input!
         <li>I'm expecting some janky errors due to some Section names being similar but belonging to different Category. If you run into errors creating lessons, please let me know what steps you took so I can replicate and perhaps troubleshoot.</li>
      </li>
   </ul>
</div>

<div id="2019-06-16">
   <h4>Markdown editor is here!</h4>
   <p>Going forward, all content will be created in Markdown format. Check out the editor on any lesson show page, guide included there!</p>
</div>